.slider-wraper {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /*     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider{
    display: flex;
}